aside {
	background: #313c50;
	display: flex;
	flex-flow: column;
	height: 100%;

	div {
		padding: 8px 15px;
		cursor: pointer;
		transition: 200ms ease-in all;

		&:hover {
			background: darken(#e36152, 10%);
		}
	}
}
